include helpers

doctype html
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    title
    link( rel='stylesheet', href= assets('stylesheets/application.css') )
    script( src= assets('javascripts/application.js') )
  body
    div(style='position:fixed;width:100%;text-align:center;z-index:1')
      picture#picture
        img#image(src='/images/image.jpg')
        #markers
      canvas#canvas